@import "./edgeicons.css";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app-container {
  min-height: 600px;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;


  --tweet-seperator-color: #e6ecf0;
  --tweet-text-primary-color: black;
  --tweet-text-secondary-color: #657786;
  --tweet-text-highlight-color: #14171a;
  --tweet-text-link-color: #0000ee;
  --tweet-border-color: #cdd3d9;
  --background-color: white;
  background-color: var(--background-color);
  --scroll-handle-color: #969ea5;
}
#app-container.dark {
  --tweet-seperator-color: #e6ecf0;
  --tweet-text-primary-color: rgb(214, 214, 214);
  --tweet-text-secondary-color: #969ea5;
  --tweet-text-highlight-color: white;
  --tweet-text-link-color: #ff5454;
  --tweet-border-color: #cdd3d9;
  --background-color: #36393f;
  --scroll-handle-color: #63686d;
}

.timeline::-webkit-scrollbar {
  width: 12px;
}

.timeline::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.timeline::-webkit-scrollbar-thumb {
  background: var(--scroll-handle-color);
}

.open_composer {
  margin: 0.2em 0.5em;
  justify-self: end;
}

.tweet_compose .close {
  grid-column: 2;
  align-self: flex-start;
  justify-self: start;
}

.tweet_compose {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-row: 1;
  justify-self: stretch;
  padding: 0.3em;
  color: var(--tweet-text-primary-color);
}
.tweet_compose .editor {
  resize: none;
  height: 5em;
  grid-column: 1;
  grid-row: 1;

  border: 2px solid var(--tweet-border-color);
  border-radius: 0.8em;
  padding: 0.6em;

  word-break: break-word;

  overflow: auto;
}
.tweet_compose .editor:focus {
  box-shadow: 0 0 3px 1px var(--tweet-border-color);
  outline: none;
}
.editor .extra_text {
  background-color: #e795af;
}
.tweet_compose .tweet_buttons {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding-top: 0.4em;
}
.send_tweet {
  background-color: #1da1f2;
  padding: 0.5em 1em;
  border-radius: 2em;
  border: none;
  color: white;
  font-weight: bold;
}
.send_tweet:focus {
  box-shadow: 0 0 0 2px var(--background-color), 0 0 0 4px #1da1f2;
  outline: none;
}
.send_tweet:hover {
  background-color: #006dbf;
}
.send_tweet:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.tweet_compose .character_count {
  grid-column: 1;
  grid-row: 1;

  align-self: flex-end;
  justify-self: end;
  margin-right: 1.8em;
  margin-bottom: 0.3em;

  z-index: 1;
}

.timeline {
  min-width: 640px;
  overflow-y: scroll;
  grid-row: 2;
  position: relative;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
.tweet {
  display: grid;
  grid-template-columns: 5.5em auto;
  grid-template-rows: 1.5em minmax(3em, auto) 1fr;
  border-bottom: 1px solid var(--tweet-seperator-color);
  padding: 0.5em;
  color: var(--tweet-text-primary-color);
}
.tweet .name {
  text-decoration: none;
}
.tweet a {
  color: var(--tweet-text-link-color);
}
.tweet a.mention {
  text-decoration: none;
}
.tweet .profile_image {

}
.tweet .profile_image.source {
  position: relative;
  width: 35%;
  left: 2.5em;
  top: 1.2em;
}
.tweet .footer {
  grid-column: 1 / 3;
  font-size: 0.9em;
  padding-top: 0.4em;
}
.tweet .rt_by {
  text-decoration: none;
  color: var(--tweet-text-secondary-color);
}
.tweet .reply_by {
  text-decoration: none;
  color: var(--tweet-text-secondary-color);
}
.tweet .quote_by {
  text-decoration: none;
  color: var(--tweet-text-secondary-color);
}
.tweet .timestamp {
  text-decoration: none;
  color: var(--tweet-text-secondary-color);
}
.tweet .content {
  grid-column: 2;
  align-self: start;
}
.tweet .display_name {
  color: var(--tweet-text-highlight-color);
  font-weight: bold;
  margin-right: 0.2em;
}
.tweet .screen_name {
  color: var(--tweet-text-secondary-color);
}
.tweet .media {
  margin-top: 0.1em;
}
.tweet .tweet_text {
  margin-bottom: 0.4em;
  display: inline-block;
}
.tweet .media img {
  max-width: 90%;
  border-radius: 0.4em;
}
.tweet .media video {
  max-width: 100%;
}
.tweet .tweet {
  grid-column: 2 / 3;
  margin-top: 0.4em;
  border: 1px solid var(--tweet-border-color);
  padding: 0.8em;
}

.tweet .tweet .tweet {
  grid-column: 1 / 3;
}

.tweet .buttons {
  grid-column: 2;
}
.tweet .buttons .span {
  display: inline-block;
}
.tweet .buttons button {
  background: transparent;
  border: none;
  color: var(--tweet-text-primary-color);
}
.tweet .buttons .Icon {
  font-size: 1em;
}
.tweet .buttons .favorited {
  color: #e0245e;
  position: relative;
}
.tweet .buttons .favorited:after {
  content: "";
  display: block;
  width: 1.3em;
  height: 1.3em;
  position: absolute;
  background-image: url('../img/heart.png');
  background-size: 100%;
  top: 0.2em;
  left: 0.3em;
}
.tweet .buttons .retweeted {
  color: #17bf63;
}

.tweet .tweet_compose {
  grid-row: 5;
  grid-column: 2;
}

.timeline .showNewerTweets {
  position: fixed;
  right: 0.2em;
}